.syx {
    height: 500px; /* Âûñîòà áëîêà */
    width: 500px; /* Øèðèíà áëîêà */
    overflow: scroll;
    background-color:#27d650;
    border-radius:50;
}
.cv {
    background-color:blue;
    border-radius:50;
}
.ul {
font-size: 250%
color: white;
}
